/* flex container */
.container{
    display:flex;
    border:20x solid black;
    padding:1opx
}

/* flex item */
.item{
    background-color: lightblue;
    border:1px solid blue;
    padding:20px;
    margin:5px;
}