<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Responsive CSS Assignment</title>
    <link rel="stylesheet" href="./mini.css">
    
</head>
<body>

    <!-- Header -->
    <header>
        <h1>Responsive Webpage</h1>
    </header>

    <!-- Navigation -->
    <nav>
        <a href="#">Home</a>
        <a href="#">About</a>
        <a href="#">Services</a>
        <a href="#">Contact</a>
    </nav>

    <!-- Box Model -->
    <section>
        <h2>CSS Box Model</h2>

        <div class="box">
            Content + Padding + Border + Margin
        </div>
    </section>

    <!-- Display Property -->
    <section>
        <h2>Display Property</h2>

        <div class="block">Block</div>

        <span class="inline">Inline 1</span>
        <span class="inline">Inline 2</span>

        <div class="inline-block">Inline Block</div>
    </section>

    <!-- Position -->
    <section>
        <h2>Position Property</h2>

        <div class="relative">
            Relative
            <div class="absolute">
                Absolute
            </div>
        </div>
    </section>

    <!-- Float -->
    <section>
        <h2>Float and Clear</h2>

        <img src="https://wallpapers.com/images/hd/tom-and-jerry-cartoon-sg5qziu2i9apyvfw.jpg" width="100px" height="=100px" class="float-img">

        <p class="clear">
            This paragraph appears below the floated image.
        </p>
    </section>

    <!-- Flexbox -->
    <section>
        <h2>Flexbox Layout</h2>

        <div class="flex-container">
            <div class="item">1</div>
            <div class="item">2</div>
            <div class="item">3</div>
        </div>
    </section>

    <!-- Grid -->
    <section>
        <h2>CSS Grid Layout</h2>

        <div class="grid-container">
            <div class="grid-item">A</div>
            <div class="grid-item">B</div>
            <div class="grid-item">C</div>
            <div class="grid-item">D</div>
        </div>
    </section>

    <footer>
        <p>Responsive Webpage Assignment</p>
    </footer>

    <!-- Padding -->
     <div class="box2">This box has 20px padding.</div>

     <!-- Marginand paddingtogether -->
      <div class="box">
    This box has both margin and padding.
</div>

</body>
</html>