body{
    font-family: Arial, sans-serif;
    margin:20px;
}

/* Grid Container */

.grid-container{

    display:grid;

    grid-template-columns:repeat(3,1fr);

    gap:15px;

}

/* Grid Items */

.grid-item{

    background:steelblue;

    color:white;

    padding:30px;

    text-align:center;

    font-size:20px;

}