.box {
    width: 150px;
    height: 100px;
    padding: 20px;
    position: absolute;
}

.box1 {
    background-color: lightblue;
    left: 50px;
    top: 150px;
    z-index: 1;
}

.box2 {
    background-color: lightgreen;
    left: 100px;
    top: 200px;
    z-index: 2;
}