/* What is a CSS Selector? */
/* A CSS Selector is used to select an HTML element so that you can apply styles to it. */

/* Simple Definition: */
/* A CSS selector tells the browser which HTML element should be styled. */


/* Types of CSS Selectors */
/* Element Selector */
/* ID Selector (#) */
/* Class Selector (.) */
/* Universal Selector (*) */
/* Group 


/* 1.Element Selector */
/* Selects all elements of the same HTML tag. */
h1{
    color: blue;
}


/* 2.element */
#title{
    color:red;
}

/* 3.id selector */
.text{
    color:green;
}


/* //universal */
*{
    margin:0;
    padding:0;
}

group
h1,p{
    color:purple;
}

/* Descendant Selector */
parent child {
    property: value;
}

/* Child Selector (>) */
parent > child {
    property: value ;
}