/* Universal Selector */
*{
    margin:10px;
    font-family:Arial;
}

/* Element Selector */
p{
    color:purple;
}

/* ID Selector */
#para{
    color:red;
}

/* Class Selector */
.box{
    background-color:yellow;
}

/* Group Selector */
h3,button{
    color:blue;
}

/* Descendant Selector */
div p{
    color:green;
}

/* Child Selector */
section > p{
    color:orange;
}

/* Adjacent Sibling Selector */
h4 + p{
    color:brown;
}

/* General Sibling Selector */
h5 ~ p{
    color:deeppink;
}

/* Border */
.border-box{
    width:200px;
    height:100px;
    border:4px solid black;
    border-radius:15px;
    text-align:center;
    line-height:100px;
}

/* Background */
.background-box{
    width: 500px;
    height:200px;
    background-color:lightblue;
    background-image:url("https://www.bing.com/images/search?view=detailV2&ccid=PJSYcceL&id=36157921660DD227535F87918C44242E62F0CC74&thid=OIP.PJSYcceLMmsNZDWwAUVC2QHaHZ&mediaurl=https%3a%2f%2fstatic.vecteezy.com%2fsystem%2fresources%2fpreviews%2f022%2f024%2f539%2fnon_2x%2ftom-and-jerry-cartoon-free-vector.jpg&exph=980&expw=981&q=tom+and+jerry&FORM=IRPRST&ck=A662DB7AD841ECC95ACCBB5DFCD29641&selectedIndex=2&itb=0" );
    background-size: cover;
    background-repeat:no-repeat;
    background-position:center;
    color:white;
    text-align:center;
    line-height:200px;
}

/* Width & Height */
.container{
    width:80%;
    height:150px;
    background-color:lightgreen;
    text-align:center;
    line-height:150px;
}